{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, nofollow, noarchive" />
{% endblock %}

{% block title %}{{ birthday.person }}{% endblock %}

{% block content %}
    <h2 class="header">{{ birthday.person }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.password }}
        <input type="submit" hidden>
    </form>
{% endblock %}
