{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/short.js' %}"></script>
{% endblock %}

{% block title %}URL Shortener{% endblock %}

{% block content %}
    <h2>URL Shortener</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.url }}
    </form>
    {% if success %}
        <p class="success">
        Shortened to <a href="{{ path }}"><code>{{ path }}</code></a> 👍
        </p>
    {% endif %}
{% endblock %}
