/* Font stuff */
@font-face {
    font-family: Khmer;
    src: url('/static/fonts/Khmer.ttf') format('truetype');
}

* {
    font-family: Khmer, Sans;
    color: var(--primary);
    transition: color 1s, background 1s;
}


html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100%;

    background: var(--background);
}

.content {
    margin: 0 1em;
    max-width: 32em;
    height: max-content;
}

/* Title */
h1 {
    text-align: center;
}

.header::before, .header::after {
    color: var(--secondary);
}

.header::before {
    content: "{{";
}

.header::after {
    content: "}}";
}

/* Content */
.content-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}

.content p {
}

/* Link collection */
.collection {
    display: flex;
    flex-wrap: wrap;
}

.collection::before, .collection::after {
    color: var(--secondary);
    font-weight: bold;
}

.collection::before {
    content: "[";
}

.collection::after {
    content: "]";
}

a {
    text-decoration: underline dashed var(--secondary);
    transition: background 0s;
}

a:hover {
    background-color: var(--highlight);
}

.collection a {
    margin-left: 0.25em;
    font-size: large;
}

.collection a::after {
    content: ",";
}

.collection a:last-child::after {
    content: "";
    margin-right: 0.25em;
}

code {
    font-family: monospace;
    background: var(--secondary);
}

/* Footer stuff */
.footer {
    position: fixed;
    bottom: 0;
}

.special-link {
    position: fixed;

    margin: 0.2em;
    padding: 0 0.2em;

    background: var(--background);
    border: 0.2em solid var(--primary);
    cursor: pointer;
    transition: all 0s;
}

.home {
    bottom: 0;
    left: 0;
}

.theme-switch {
    bottom: 0;
    right: 0;
}
